<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='css/datepicker3.css' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<title>CORI -- Home</title>
    </head>
    <body>

	<div class="site-wrapper">

	    <div class="site-wrapper-inner">

		<div class="cover-container">

		    <div class="masthead clearfix">
			<div class="inner">
			    <h2 class="masthead-brand">Seal My MA CORI</h3>
				<nav>
				    <ul class="nav masthead-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/more">Forms</a></li>
				    </ul>
				</nav>
			</div>
		    </div>
		    <div class="inner cover">
			<div style="padding-bottom:50px;"><a id="back" class="pull-left" href="#" style="display:none;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size: 25px;"></span></a></div>
			<p class="question lead"></p>
			<p class="options lead"></p>
			<div class="datepicker" style="display:none"></div>
		    </div>
		    <script type="text/javascript">
		     //json containing all questions and options. Read from qna.js
		     var json = {};
		     //important dates that user enters during survey
		     var dates = {};
		     //helper to store 'dates'
		     var curDate = "";
		     //Important question numbers whose answers should be stored
		     var salientQs = [27, 28];
		     //Answers to salientQs
		     var salientAs = {};
		     //user tree history
		     var hist = [];
		     //current question id
		     var curId = 0;

		     //These variables are used in the calculation of eligibility
		     var conviction = false;
		     var nonConviction = false;
		     var waiting = new Date(1900, 0, 0);
		     var court = false;
		     var mail = false;

		     function nextQuestion(id) {
			 if (id == 'end') {
			     calculate();
			     return;
			 }
			 curId = id;
			 $('.question').html(json[id].question);
			 $('.options').empty();
			 getAnswer();
			 if (json[id].date) {
			     curDate = json[id].date;
			     //for back button.
					    dates[curDate] = undefined;
			     $('.datepicker').show();
			     $('.options').append('<a class="btn" href="#" style="display:none" data-id="' + json[id].options[0].next + '">' + json[id].options[0].answer + '</a>');
			 }
			 else {
			     $('.datepicker').hide();
			     if (json[id].options) {
				 for (var i = 0; i < json[id].options.length; i++) {
				     $('.options').append('<a class="btn" href="#" data-option="' + i  + '" data-id="' + json[id].options[i].next + '">' + json[id].options[i].answer + '</a>');
				 }
			     }


			 }

			 $('.btn').click(function() {
			     hist.push($(this).data('id'));
			     //clear curDate after updating 'dates'. Works with the back button
			     curDate = "";
			     getAnswer($(this).data('option'));
			     nextQuestion($(this).data('id'));
			     if (hist.length == 1) {
				 $('#back').hide();
			     }
			     else {
				 $('#back').show();
			     }
			 });
		     }

		     function calculate() {
			 //Was there a conviction?
			 conviction = dates['misCon'] || dates['jailMisCon'] || dates['felCon'] || dates['jailFelCon'];

			 //Waiting period
			 if (dates['misCon']) {
			     dates['misCon'].setFullYear(dates['misCon'].getFullYear() + 5);
			     if (dates['misCon'] > waiting) {
				 waiting = dates['misCon'];
			     }
			 }
			 if (dates['felCon']) {
			     dates['felCon'].setFullYear(dates['felCon'].getFullYear() + 10);
			     if (dates['felCon'] > waiting) {
				 waiting = dates['felCon'];
			     }
			 }
			 if (dates['jailMisCon']) {
			     dates['jailMisCon'].setFullYear(dates['jailMisCon'].getFullYear() + 5);
			     if (dates['jailMisCon'] > waiting) {
				 waiting = dates['jailMisCon'];
			     }
			 }
			 if (dates['jailFelCon']) {
			     dates['jailFelCon'].setFullYear(dates['jailFelCon'].getFullYear() + 10);
			     if (dates['jailFelCon'] > waiting) {
				 waiting = dates['jailFelCon'];
			     }
			 }

			 if (waiting > new Date()) {
			     nextQuestion(37);
			     $('.question').html($('.question').html() + waiting.toDateString() + ". Please see <a style='color:#597C9C' href='http://www.masslegalhelp.org/'>Mass. Legal help</a> for more information on the waiting periods to seal.");
			     return;
			 }

			 if (!$.isEmptyObject(salientAs)) {
			     nonConviction = true;
			     //Was there a non conviction
			     mail = salientAs[27] == 0 || salientAs[28] == 0;
			     court = salientAs[27] == 1 || salientAs[28] == 1;

			 }
			 console.log(nonConviction);
			 if (conviction && nonConviction) {
			     if (court && mail) {
				 nextQuestion(30);
			     }
			     else if (court) {
				 nextQuestion(31);
			     }
			     else if (mail) {
				 nextQuestion(32);
			     }
			 }
			 else if (conviction) {
			     nextQuestion(33);
			 }
			 else if (nonConviction) {
			     if (court && mail) {
				 nextQuestion(34);
			     }
			     else if (court) {
				 nextQuestion(35);
			     }
			     else if (mail) {
				 nextQuestion(36);
			     }
			 }
			 else {
			     nextQuestion(38);
			 }


		     }

		     //Store answer to importat calculations that would be used in
		     //eligibility question
		     function getAnswer(ans) {
			 //console.log(curId);
			 //If called without an answer, delete any possible previous value
			 if (ans == undefined && $.inArray(curId, salientQs) > -1) {
			     salientAs[curId] = undefined;
			     return;
			 }

			 //If called with an ans and id belongs to salientQs, store answer
			 if ($.inArray(curId, salientQs) > -1) {
			     salientAs[curId] = ans;
			 }
		     }


		     $(document).ready(function() {

			 $('.datepicker').datepicker({
			     clearBtn: true,
			 }).on('changeDate', function(ev){
			     if (ev.date && ev.date.valueOf()){
				 dates[curDate] = new Date(ev.date.valueOf());
				 $('.btn').show();
			     }
			     else {
				 $('.btn').hide();
			     }
			 });
			 $.getJSON('/qna', function(data) {
			     json = data;
			     hist.push(0);
			     nextQuestion(0);
			 });
			 $('#back').on('click', function(e) {
			     e.preventDefault();
			     hist.pop();
			     nextQuestion(hist[hist.length-1]);
			     if (curDate != "") {
				 dates[curDate] = undefined;
			     }
			     if (hist.length == 1) {
				 $('#back').hide();
			     }
			     else {
				 $('#back').show();
			     }
			 });

		     });
		    </script>


		</div>

	    </div>
    </body>
</html>
