<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker.min.css' rel='stylesheet' type='text/css'>
	<link href='css/datepicker.css' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<title>CORI -- Home</title>
    </head>
    <body>

	<div class="site-wrapper">

	    <div class="site-wrapper-inner">

		<div class="cover-container">

		    <div class="masthead clearfix">
			<div class="inner">
			    <h2 class="masthead-brand">CORI</h3>
				<nav>
				    <ul class="nav masthead-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/more">More info</a></li>
				    </ul>
				</nav>
			</div>
		    </div>
		    <div class="inner cover">

			<p class="question lead"></p>
			<p class="options lead"></p>
			<input class="datepicker" style="display:none">
		    </div>
		    <script type="text/javascript">
		     var json = [];
		     var dates = {};
		     var curDate = "";

		     function nextQuestion(id) {
			 $('.question').html(json[id].question);
			 $('.options').empty();
			 if (json[id].date) {
			     curDate = json[id].date;
			     $('.datepicker').show();
			     $('.options').append('<a class="btn" href="#" style="display:none" data-id="' + json[id].options[0].next + '">' + json[id].options[0].answer + '</a>');
			 }
			 else {
			     $('.datepicker').hide();
			     for (var i = 0; i < json[id].options.length; i++) {
				 $('.options').append('<a class="btn" href="#" data-id="' + json[id].options[i].next + '">' + json[id].options[i].answer + '</a>');
			     }

			 }
			 $('.btn').click(function() {
			     console.log($(this).data('id'));
			     nextQuestion($(this).data('id'));
			 });

		     }

		     $(document).ready(function() {
			 $('.datepicker').prop('readOnly', true); 
			 $('.datepicker').datepicker().on('changeDate', function(ev){
			     if (ev.date.valueOf()){
				 var dateArray = ev.date.valueOf().split('/');
				 dates[curDate] = new Date(dateArray[2], dateArray[0]-1, dateArray[1]);
				 
				 $('.btn').show();
			     }
			     else {
				 $('.btn').hide();
			     }
			 });
			 $.getJSON('/qna', function(data) {
			     json = data;
			     nextQuestion(0);
			 });
		     });
		    </script>


		</div>

	    </div>
    </body>
</html>
