<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">

	<title>CORI -- More info</title>
    </head>
    <body>

	<div class="site-wrapper">

	    <div class="site-wrapper-inner">

		<div class="cover-container">

		    <div class="masthead clearfix">
			<div class="inner">
			    <h2 class="masthead-brand">Seal My MA CORI</h3>
				<nav>
				    <ul class="nav masthead-nav">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/more">Resources</a></li>
				    </ul>
				</nav>
			</div>
		    </div>
		    <div class="inner cover">
			<ul style="list-style-type:none;">
			    <li><a class="btn" href="http://www.mass.gov/courts/docs/forms/sjc/affidavitofindigency.pdf" target="_blank">Affidavit of indigency</a></li>
			    <li><a class="btn" href="http://www.mass.gov/eopss/docs/chsb/personal-access-form-v2-20121228.pdf" target="_blank">CORI Request form</a></li>
			    <li><a class="btn" href="http://www.mass.gov/courts/docs/probation/sealingpetition.pdf" target="_blank">Seal Cases (By Mail)</a></li>
			    <li><a class="btn" href="http://www.mass.gov/courts/docs/admin/sentcomm/mastercrimelist.pdf" target="_blank">Massachusetts Felonies and Misdemeaonors list</a></li>
			    <li><a class="btn" href="http://www.masslegalhelp.org/" target="_blank">Mass. Legal help</a></li>
			    <li><a class="btn" href="http://www.masslegalhelp.org/cori/your-rights" target="_blank">Know your CORI rights booklet</a></li>
			</ul>
		    </div>
		    <script type="text/javascript">

		     $(document).ready(function() {

		     });
		    </script>


		</div>

	    </div>
    </body>
</html>
