<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Resource style -->
	<title>CORI -- Home</title>
    </head>
    <body>

	<div class="site-wrapper">

	    <div class="site-wrapper-inner">

		<div class="cover-container">

		    <div class="masthead clearfix">
			<div class="inner">
			    <h2 class="masthead-brand">CORI</h3>
				<nav>
				    <ul class="nav masthead-nav">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/more">More info</a></li>
				    </ul>
				</nav>
			</div>
		    </div>
		    <div class="inner cover">
			<ul>
			    <li><a href="http://www.mass.gov/courts/docs/forms/sjc/affidavitofindigency.pdf">Affidavit of indigency</a></li>
			    <li><a href="http://www.mass.gov/eopss/docs/chsb/personal-access-form-v2-20121228.pdf">CORI Request form</a></li>
			    <li><a href="http://www.mass.gov/courts/docs/forms/district/motion-to-seal-record.pdf">Seal CORI (By Court)</a></li>
			    <li><a href="http://www.mass.gov/courts/docs/probation/sealingpetition.pdf">Seal CORI (By Mail)</a></li>
			    <li><a href="http://www.mass.gov/courts/docs/admin/sentcomm/mastercrimelist.pdf">Felonies and Misdemeaonors list</a></li>
			</ul>
		    </div>
		    <script type="text/javascript">

		     $(document).ready(function() {

		     });
		    </script>


		</div>

	    </div>
    </body>
</html>
